{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    <h1> Register Recruiter </h1>
    {{ form_errors(recForm) }}
    {{ form_start(recForm) }}
    {{ form_row(recForm.email) }}
    {{ form_row(recForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(recForm.first_name) }}
    {{ form_row(recForm.last_name) }}
    {{ form_row(recForm.Company_Name) }}
    <button type="submit" class="btn">Register</button>
    {{ form_end(recForm) }}




{% endblock %}
