{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    <h1> Register Candidat </h1>
    {{ form_errors(canForm) }}

    {{ form_start(canForm) }}
    {{ form_row(canForm.email) }}
    {{ form_row(canForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(canForm.birth_date) }}
    {{ form_row(canForm.first_name) }}
    {{ form_row(canForm.last_name) }}
    {{ form_row(canForm.Phone_Number) }}
    {{ form_row(canForm.adress) }}
    {{ form_row(canForm.skills) }}
    {{ form_row(canForm.cv) }}
    <button type="submit" class="btn">Register</button>
    {{ form_end(canForm) }}




{% endblock %}
