{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/assets/css/registerStyle.css') }}">
{% endblock %}

{% block body %}
    <div class="container register shadow">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3> Already have an account ? </h3>
                <a href="{{ path('app_login') }}"><input type="submit" name="" value="Login"/></a><br/>
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active w-100" id="home-tab" data-toggle="tab" href="{{ path('app_registration_candidat') }}" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="{{ path('app_registration_recruiter') }}" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Apply as a Employee</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                {{ form_errors(canForm) }}
                                {{ form_start(canForm) }}
                                <div class="form-group">
                                    {{ form_row(canForm.email) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(canForm.plainPassword, {
                                        label: 'Password'
                                    }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(canForm.birth_date) }}


                                </div>
                                <div class="form-group">
                                    {{ form_row(canForm.first_name) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(canForm.last_name) }}

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(canForm.Phone_Number) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(canForm.adress) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(canForm.cv) }}
                                </div>

                                <input type="submit" class="btnRegister"  value="Register"/>
                            </div>
                        </div>
                        {{ form_end(canForm) }}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        // public/js/custom_choices.js

        document.addEventListener('DOMContentLoaded', function() {
            const choicesInput = document.querySelector('.custom-choices-input');
            const addChoiceButton = document.querySelector('.add-choice-button');
            const choicesContainer = document.querySelector('.choices-container');

            let choices = JSON.parse(choicesInput.value || '[]');

            addChoiceButton.addEventListener('click', function() {
                const newChoiceInput = document.createElement('input');
                newChoiceInput.type = 'text';
                newChoiceInput.className = 'form-control'; // Ajoutez les classes Bootstrap pour le style
                newChoiceInput.placeholder = 'Nouveau choix';

                newChoiceInput.addEventListener('change', function() {
                    choices.push(newChoiceInput.value);
                    updateChoicesInput();
                });

                choicesContainer.appendChild(newChoiceInput);
            });

            function updateChoicesInput() {
                choicesInput.value = JSON.stringify(choices);
            }
        });

    </script>

{% endblock %}