<!DOCTYPE html>
<html lang="en">


    {% include '/home_recruteur/head.html.twig' %}


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {% include '/home_recruteur/sidebar.html.twig' %}
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <!-- Topbar -->
            {% include '/home_recruteur/topBar.html.twig' %}
            <!-- End of Topbar -->


            <!-- Begin Page Content -->
            <div class="container-fluid">

                {{ form_start(form) }}

                {{ form_row(form.Title) }}
                {{ form_row(form.Limit_Date) }}

                {{ form_label(form.Req_Skills) }}
                {{ form_errors(form.Req_Skills) }}
                {{ form_widget(form.Req_Skills) }}

                {{ form_row(form.Mission) }}
                {{ form_row(form.Description) }}

                {{ form_row(form.Salary_Prop) }}

                {{ form_row(form.Contract_Type) }}

                <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Logout Modal-->
{% include '/home_recruteur/logoutModal.html.twig' %}

<!-- Bootstrap core JavaScript-->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/assets/js/demo/datatables-demo.js"></script>

</body>

</html>