{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">{{ job.Title }} Detail </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="{{ path ('app_home_page') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_job_index') }}">Job Offers</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">{{ job.Title }}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->
<!-- Job Detail Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <img class="flex-shrink-0 img-fluid border rounded" src="/assets/img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;">
                    <div class="text-start ps-4">
                        <h3 class="mb-3">{{ job.Title }}</h3>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{ job.ContractType }}</span>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{ job.SalaryProp }}</span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Job description</h4>
                    <p>{{ job.Description }}</p>
                    <h4 class="mb-3">Responsibility</h4>
                    <p>{{ job.Mission }}</p>
                    <h4 class="mb-3">Required Skills </h4>
                    <p>{{ job.ReqSkills ? job.ReqSkills|join(', ') : '' }}</p>

{#                    <ul class="list-unstyled">#}
{#                        <li><i class="fa fa-angle-right text-primary me-2"></i>Dolor justo tempor duo ipsum accusam</li>#}
{#                        <li><i class="fa fa-angle-right text-primary me-2"></i>Elitr stet dolor vero clita labore gubergren</li>#}
{#                        <li><i class="fa fa-angle-right text-primary me-2"></i>Rebum vero dolores dolores elitr</li>#}
{#                        <li><i class="fa fa-angle-right text-primary me-2"></i>Est voluptua et sanctus at sanctus erat</li>#}
{#                        <li><i class="fa fa-angle-right text-primary me-2"></i>Diam diam stet erat no est est</li>#}
{#                    </ul>#}
                </div>

            </div>
            </div>
        </div>
        <!-- Job Detail End -->
{% endblock %}
